
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.navbar{
 height:80px;
}

.user_registration_title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.book_registration_title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.text-center{
  width:350px;
  
}

::placeholder{
  color:rgb(212, 203, 203) !important
}